body {
    background: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.textContainer {
    order: 0;
}

#time {
    position: absolute;
    top: 0;
    right: 0;
}

.playerContainer {
    height: calc(100% - 50px);
    position: relative;
}

#player {
    height: 100%;
    width: 100%;
}

body.bottom #textContainer {
    order: 1
}

body.mid .playerContainer {
    display: none;
}

body.mid #textContainer {
    height: 100%;
}

/* Karaoke styles */

#textContainer {
    font-size: 24px;
    margin: 11px auto;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
}

#text {
    color: white;
}

#progress {
    position: absolute;
    left: 0;
    top: 0;
    color: red;
    overflow: hidden;
    width: 0;
    animation-timing-function: linear;
    text-shadow: 0 0 3px rgba(255,255,255,1);
    animation-fill-mode: forwards;
}

@keyframes run-text {
    from { width: 0 }
    to { width: 100% }
}